node_modules/
Frontend/node_modules/
Backend/node_modules/
web-app/node_modules/
web-app/.next/
.next/
dist/
Frontend/dist/
web-app/out/
.vscode/
.idea/
*.log
Frontend/android/app/build/
Frontend/android/app/src/main/assets/public/
.env
